/* block styling */

.navbar {
  width: 100%;
  background-color: #dddfe1;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-container {
  max-width: 1480px;
  margin: auto;
  width: 100%;
}

.nav-link {
  margin: 0px 5px;
}

.nav-brand {
  margin-right: 1rem;
  width: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.nav-link {
  width: auto;
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
}
